bitsandbytes
colorlog
datasets
# hivemind @ git+https://github.com/learning-at-home/hivemind@1.11.11
hivemind
hf-transfer
peft
pytest
tensorboard
torch
transformers==4.48.2
trl
# unsloth @ git+https://github.com/gensyn-ai/unsloth
git+https://github.com/gensyn-ai/unsloth@unpin_proto#egg=unsloth
# unsloth_zoo @ git+https://github.com/gensyn-ai/unsloth-zoo
git+https://github.com/gensyn-ai/unsloth-zoo@unpin_proto#egg=unsloth_zoo
vllm==0.7.3
wandb
web3
xformers