name: "Docker build"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name'
        required: true
        type: string

jobs:
  build-push:
    runs-on: gha-runner-scale-set-k8s-v2
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER__REGISTRY }}
          username: ${{ secrets.DOCKER__USERNAME }}
          password: ${{ secrets.DOCKER__PASSWORD }}
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          platforms: linux/amd64
          tags: ${{ vars.DOCKER__REGISTRY }}/node-gensyn:${{ inputs.tag }}
          cache-from: type=registry,ref=${{ vars.DOCKER__REGISTRY }}/node-gensyn:cache
          cache-to: type=registry,ref=${{ vars.DOCKER__REGISTRY }}/node-gensyn:cache,compression=zstd,mode=max
